[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "whitestrap"]
	path = whitestrap
	url = https://github.com/jlopezper/whitestrap
